# Compiled Code #
*.class
*/target/**

# Package Files #
*.jar

# Log Files #
*.log

# IntelliJ Files #
.idea
*.iml
*.ipr
*.iws

# System Files #
.DS_Store

/project/project/
/project/target/
/target/
logs
/.idea

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet